input {
  padding: 2px;
  min-height: 2rem;
  border-radius: 0.5rem;
}

.searchContainer {
  display: flex;
  gap: 1rem;
}

.searchButton {
  padding: 0.3rem;
  border-radius: 0.5rem;
  background-color: greenyellow;
  transition: all 0.2s ease;
}

.searchButton:disabled {
    background-color: rgb(174, 170, 170);
}

.searchButton:disabled:hover {
    background-color: rgb(174, 170, 170);
}

.searchButton:hover {
  background-color: rgb(29, 208, 20);
}
